<div class="col-md-12">

  <h2 class="text-center"> 我创建的电影讨论区 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 电影名称 </th>
        <th> 电影详情 </th>
        <th> 评论数 </th>
        <th> 发布时间 </th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(group.title, group_path(group)) %> </td>
          <td> <%= render_group_description(group) %> </td>
          <td> <%= group.reviews.count %> </td>
          <td> <%= group.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
